/* Author's Name: Tom Tsiliopoulos */
/* Date: Friday October 16, 2015 */

body {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 25px;
    background-image: url("../Assets/images/sky.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    
}


h1, h2, h3, h4, h5, h6 {
    font-family: Consolas, sans-serif;
}

h1 { 
    font-size: 2em;
    line-height: 50px;
    color: red;
}

h2 {
    font-size: 30px;
    line-height: 35px;
    color: blue;
}

p {
    color: green;
}



footer {
    color: rgb(255,255,255);
    background-color: #35787F;
}

a {
    color: yellow;
}

/* active class styles ++++++++++++++++++++++++++++++++ */

.active {
    background-color: #69EFFF;
}

.active a {
    color: white;
}

/* header and masthead styles +++++++++++++++++++++++++++ */

.header {
    width: 25%;
}

.mastHead {
    border-bottom: 3px solid black;
    border-top: 5px dashed red;
}

.header, .firstSection {
    background-color: rgba(79,179,191,1);
}














